{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
    
{% block content %}
                        <div class="p-lg-5 p-4">              
                            <div class="p-4"> 
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">{% trans "Change Password" %}</h5>
                                </div>
                                <div class="p-2 mt-4">
                                    <form class="needs-validation" novalidate method="POST" action="{% url 'account_change_password' %}">
                                        {% for message in messages %}
                                        <div class="alert {{ message.tags }} mb-4" role="alert">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        {% endfor %} 
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ form.oldpassword|as_crispy_field }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password1|as_crispy_field }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password2|as_crispy_field }}
                                        </div>
                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">{% trans "Change Password" %}</button>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                            <!-- end card body -->

                        <div class="mt-4 text-center">
                            <p class="mb-0">Back to the homepage ? <a href="{% url 'dashboards:dashboard' %}" class="fw-semibold text-primary text-decoration-underline"> Home </a> </p>
                        </div>
                    </div>
             
{% endblock content %}

{% block extra_js %}
        <!-- password-addon init -->
        <script src="{% static 'js/pages/password-addon.init.js'%}"></script>
{% endblock extra_js %}
    